
<% include partials/header %>


<div>


        <%if (loggedIn == true) { %>
        <div class="inner_header">
            <%if(user_data.loggedIn){%>
            <div class="inner-header-content">
                    <span class="email-logout-text">
                        <%if(typeof(user_data.account)!='undefined' && user_data.account!=null && user_data.account.first_name != null){%>
                        <%= (user_data.account.first_name+' '+user_data.account.last_name).substr(0,50)%><%}else{%><%= user_data.user.email%><%}%>
                    </span>
                    <span class="email-logout-text">
                        <a  href="/dashboard" class="btn btn-success btn-sm">Applications</a>
                        <a  href="<%= user_data.url%>/account" class="btn btn-success btn-sm">Account</a>
                        <a  href="<%=  user_data.url%>/addresses" class="btn btn-success btn-sm">Addresses</a>
                        <a  href="/sign-out" id="sign-out-link" class="btn btn-success btn-sm">Sign out</a>
                    </span>
            </div>
            <%}%>
        </div>
        <% } %>

    <%if (isSessionValid == false) { %>

    <title>Your payment was unsuccessful - Get a document legalised – GOV.UK</title>

    <h1 class="heading-xlarge">Sorry, you'll have to start again</h1>

    <div class="intro column-two-thirds">

        <p>You took longer than 25 minutes to enter your payment details and we've cleared your information to keep it secure. Your application has not been submitted and payment has not been taken.</p>

        <ul>
            <li><a href="/api/user/sign-in">Sign in</a></li>
            <li><a href="/start">Start a new application</a></li>
            <li><a href="https://www.gov.uk">GOV.UK home page</a></li>
        </ul>

    </div>

</div>

    <%} else { %>

        <title>Your payment was unsuccessful - Get a document legalised – GOV.UK</title>

        <h1 class="heading-xlarge">Your payment was unsuccessful</h1>

        <div class="intro column-two-thirds">

            <p>We were unable to take payment on the card you entered. Check your card details, make sure you have enough funds on the card to pay for your documents, or use a different card.</p>

            <!-- PAYMENT FORM -->
            <form action="<%= smartPayUrl %>" method="post">

              <div class="form-group">

                <% var ordered =  params; %>
                <% for(var key in ordered){ %>
                <input type="hidden" name="<%= key %>" value="<%= ordered[key] %>" />
                <% } %>

                <button type="submit" class="button">Pay on Barclaycard SmartPay</button>

              </div>

            </form>

        </div>

    </div>

<% } %>

<% include partials/footer %>