
<% include partials/header %>

<div class="container">

    <div class="inner_header">
        <a href="<%if(applicationType>1){%>/business-additional-information<%}else{%>/declaration-agreement<%}%>" class="govuk-back-link">Back</a>

        <%if (loggedIn == true) { %>
            <%if(user_data.loggedIn){%>
                <div class="inner-header-content">
                    <span class="email-logout-text">
                         <%if(typeof(user_data.account)!='undefined' && user_data.account!=null && user_data.account.first_name != null){%>
                        <%= (user_data.account.first_name+' '+user_data.account.last_name).substr(0,50)%><%}else{%><%= user_data.user.email%><%}%>
                    </span>
                    <span class="email-logout-text">
                        <a  href="/dashboard" class="govuk-link">Applications</a>
                        <a  href="<%= user_data.url%>/account" class="govuk-link">Account</a>
                        <a  href="<%=  user_data.url%>/addresses" class="govuk-link">Addresses</a>
                        <a  href="/sign-out" id="sign-out-link" class="govuk-link">Sign out</a>
                    </span>
                </div>
            <%}%>
        <% } %>
    </div>

    <div class="column-two-thirds">
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Important
            </h2>
            </div>
            <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
                This service is due to switch to a new payment provider on 10 September 2021. 
                Any payments made before this date can still be processed up to and including 30 September. 
                If your application is received after 30 September, but you paid on or before 9 September, 
                you may need to be contacted regarding your payment. 
            </p>
            </div>
        </div>
    </div>

    <h1 class="heading-xlarge">Pay for your application</h1>

    <div class="intro column-two-thirds">

        <p>You'll now be taken to Barclaycard SmartPay, where you can pay with Maestro, MasterCard or Visa.</p>

        <% if (loggedIn == true) { %>

        <p>When entering a new card tick the 'Remember these details' box if you wish to save it. This will help you make applications more quickly in future.</p>
        <p>If you've previously saved a card you'll be able to use it to pay, or enter new card details.</p>

        <% } %>

        <!-- PAYMENT FORM -->
        <form action="<%= smartPayUrl %>" method="post">

            <div class="form-group">

                <% var ordered =  params; %>
                <% for(var key in ordered){ %>
                <input type="hidden" name="<%= key %>" value="<%= ordered[key] %>" />
                <% } %>

                <button type="submit" class="govuk-button" data-module="govuk-button">Pay on Barclaycard SmartPay</button>

            </div>

        </form>

    </div>

</div>

<% include partials/footer %>
