
<% include partials/header %>

<div class="container">

    <div class="inner_header">
        <a href="<%if(applicationType>1){%>/business-additional-information<%}else{%>/declaration-agreement<%}%>" class="govuk-back-link">Back</a>

        <%if (loggedIn == true) { %>
            <%if(user_data.loggedIn){%>
                <div class="inner-header-content">
                    <span class="email-logout-text">
                         <%if(typeof(user_data.account)!='undefined' && user_data.account!=null && user_data.account.first_name != null){%>
                        <%= (user_data.account.first_name+' '+user_data.account.last_name).substr(0,50)%><%}else{%><%= user_data.user.email%><%}%>
                    </span>
                    <span class="email-logout-text">
                        <a  href="/dashboard" class="govuk-link">Applications</a>
                        <a  href="<%= user_data.url%>/account" class="govuk-link">Account</a>
                        <a  href="<%=  user_data.url%>/addresses" class="govuk-link">Addresses</a>
                        <a  href="/sign-out" id="sign-out-link" class="govuk-link">Sign out</a>
                    </span>
                </div>
            <%}%>
        <% } %>
    </div>

    <h1 class="heading-xlarge">Pay for your application</h1>

    <div class="intro column-two-thirds">

        <p>You will now be taken to GOV.UK Pay, where you will be asked to provide your payment details.</p>
        <p>Once you’ve provided your payment information your application will be submitted.</p>

        <!-- PAYMENT FORM -->
        <form action="<%= next_url %>">

            <div class="form-group">

                <button type="submit" class="govuk-button" data-module="govuk-button">Pay</button>
                <input type="hidden" id="applicationId" value="<%= applicationId %>">
            </div>

        </form>

    </div>

</div>

<% include partials/footer %>
