
<% include partials/header %>

<div class="container">

    <div class="inner_header">
        <a href="<%if(applicationType>1){%>/business-additional-information<%}else{%>/declaration-agreement<%}%>" class="back_to_previous_button">Back</a>

        <%if (loggedIn == true) { %>
        <div class="inner_header">
            <%if(user_data.loggedIn){%>
                <div class="inner-header-content">
                    <span class="email-logout-text">
                         <%if(typeof(user_data.account)!='undefined' && user_data.account!=null && user_data.account.first_name != null){%>
                        <%= (user_data.account.first_name+' '+user_data.account.last_name).substr(0,50)%><%}else{%><%= user_data.user.email%><%}%>
                    </span>
                    <span class="email-logout-text">
                        <a  href="/dashboard" class="btn btn-success btn-sm">Applications</a>
                        <a  href="<%= user_data.url%>/account" class="btn btn-success btn-sm">Account</a>
                        <a  href="<%=  user_data.url%>/addresses" class="btn btn-success btn-sm">Addresses</a>
                        <a  href="/sign-out" id="sign-out-link" class="btn btn-success btn-sm">Sign out</a>
                    </span>
                </div>
            <%}%>
        </div>
        <% } %>
    </div>
    <title>Pay for your application - Get a document legalised – GOV.UK</title>
    <h1 class="heading-xlarge">Pay for your application</h1>

    <div class="intro column-two-thirds">

        <p>You'll now be taken to Barclaycard SmartPay, where you can pay with Maestro, MasterCard or Visa.</p>

        <% if (loggedIn == true) { %>

        <p>When entering a new card tick the 'Remember these details' box if you wish to save it. This will help you make applications more quickly in future.</p>
        <p>If you've previously saved a card you'll be able to use it to pay, or enter new card details.</p>

        <% } %>

        <!-- PAYMENT FORM -->
        <form action="<%= smartPayUrl %>" method="post">

            <div class="form-group">

                <% var ordered =  params; %>
                <% for(var key in ordered){ %>
                <input type="hidden" name="<%= key %>" value="<%= ordered[key] %>" />
                <% } %>

                <button type="submit" class="button">Pay on Barclaycard SmartPay</button>

            </div>

        </form>

    </div>

</div>

<% include partials/footer %>